.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    color: #f0e5cc;
    font-family: "Cinzel", Georgia, serif;
}

body {
    background-color: #24221e;
    background-image:
        radial-gradient(ellipse at top, #514333, transparent 65%);
    color: #f0e5cc;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border-bottom: solid rgb(104, 1, 1);;
    min-width: 800px;
    box-sizing: border-box;
}

header h1 {
    font-size: 24px
}

header nav menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    font-size: 20px;
}

header nav a,
header nav a:visited {
  color: #f0e5cc;
  text-decoration: none;
}

header nav a:hover {
  color: #c49a58;
}

header p {
    display: flex;
    margin-left: auto;
}

.dashboard_sections {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-evenly;
    gap: 100px
}

.create_character_button button {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
}

.create_character_button button:hover {
    color: #c49a58;
}

.saved_characters {
    padding-left: 20px;
    font-size: 30px;
}

.saved_characters a,
.saved_characters a:visited {
  color: #f0e5cc;
  text-decoration: none;
}

.saved_characters a:hover {
  color: #c49a58;
}

.character_table table{
    border-collapse: collapse;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
}

.character_table th,
.character_table td {
    border-bottom: 5px solid rgb(104, 1, 1);
    padding: 10px;
    text-align: center;
}

.character_table tr {
    border-bottom: 5px solid rgb(104, 1, 1);;
}

.campaign_join_create {
    font-size: 30px;
}

.campaign_active {
    font-size: 30px;
}

.campaign_table {
    border-collapse: collapse;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
}

.campaign_table th,
.campaign_table td {
    border-bottom: 5px solid rgb(104, 1, 1);
    padding: 10px;
    text-align: center;
}

.campaign_table tr {
    border-bottom: 5px solid rgb(104, 1, 1);;
}

.campaign_table button {
    color: #f0e5cc; 
    background: none;
    border: none;
    font-size: 30px;
    font-family: "Cinzel", Georgia, serif;
}

.campaign_table button:hover {
    color: #c49a58;
}

.campaign_join_create input {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
}

.campaign_join_create button {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
}

.campaign_join_create button:hover {
    color: #c49a58;
}

.select_character {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
}

.select_character option{
    color: #f0e5cc;
    background: rgb(100, 76, 76);
    font-family: "Cinzel", Georgia, serif;
}

footer {
    margin-top: auto;
}