main {
    min-width: 800px;
}
body {
    background-color: #24221e;
    background-image:
        radial-gradient(ellipse at top, #514333, transparent 65%);
    color: #f0e5cc;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border-bottom: solid rgb(104, 1, 1);;
    min-width: 800px;
    box-sizing: border-box;
}

header h1 {
    font-size: 24px
}

header nav menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    font-size: 20px;
}

header nav a,
header nav a:visited {
  color: #f0e5cc;
  text-decoration: none;
}

header nav a:hover {
  color: #c49a58;
}

header p {
    display: flex;
    margin-left: auto;
}

main h1 {
    display: flex;
    justify-content: center;
}

.portrait_hp {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 10px
}

.portrait {
    border: solid rgb(104, 1, 1);
    width: 200px;
    height: 300px;
}

.hp label {
    font-size: 36px;
}

.ac strong {
    font-size: 36px;
}

.ability_checks {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.ability_checks h2 {
    text-align: center;
}

.ability_buttons {
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border: solid rgb(104, 1, 1);
    display: flex;
    justify-content: space-between; 
    gap: 1rem;
    padding: 10px;
}

.ability_buttons button {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

.sections {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: space-between;
    gap: 10px
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.action_buttons {
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border: solid rgb(104, 1, 1);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 5px;
}

.action_buttons button {
    width: 50px;
}

.saving_throws {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.saving_buttons {
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border: solid rgb(104, 1, 1);
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 5px;
}

.skill_checks {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.skill_buttons {
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border: solid rgb(104, 1, 1);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 5px;
}

.skill_buttons1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 5px;
    flex: 1 1 7rem;
}

.skill_buttons2{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 5px;
    flex: 1 1 7rem;
}

.api_placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.api_placeholder_text {
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border: solid rgb(104, 1, 1);
}

.real_time_actions {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.real_time_actions_text {
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    border: solid rgb(104, 1, 1);
}