.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
    flex: 1;
    color: #f0e5cc;
    font-family: "Cinzel", Georgia, serif;
}

body {
    background-color: #24221e;
    background-image:
        radial-gradient(ellipse at top, #514333, transparent 65%);
    color: #f0e5cc;
    font-family: "Cinzel", Georgia, serif;
    margin: 0;
}

body {
    background-color: #24221e;
    background-image:
        radial-gradient(ellipse at top, #514333, transparent 65%);
    color: #f0e5cc;
    font-family: "Cinzel", Georgia, serif;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem 1.5rem;
    padding: 0.75rem 1rem;
    background: linear-gradient(rgb(100, 76, 76), rgb(48, 28, 28));
    border-bottom: 2px solid rgb(104, 1, 1);
}

header h1 {
    font-size: 25px
}

header nav menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav a,
header nav a:visited {
  color: #f0e5cc;
  text-decoration: none;
}

header nav a:hover {
  color: #c49a58;
}

header p {
    display: flex;
    margin-left: auto;
}

.login_section {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

.login_section form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
}

.password {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
}

.login_section button {
    color: #f0e5cc;
    border: 5px solid rgb(104, 1, 1);
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
    font-family: "Cinzel", Georgia, serif;
    font-size: 20px;
}

.login_section input {
    color: #f0e5cc;
    font-family: "Cinzel", Georgia, serif;
    font-size: 30px;
    border: none;
    background: none;
}

.login_section button:hover {
    color: #c49a58;
}


footer {
    padding-top: 20px;
    margin-top: auto;
}

footer hr {
    border: 0;
    margin: 0;
    border-top: solid rgb(104, 1, 1);
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient( rgb(100, 76, 76), rgb(48, 28, 28));
}

.footer_content a{
    color: #f0e5cc;
    text-decoration: none;
}

.footer_content a:hover {
    color: #c49a58;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}